@charset "utf-8";
/* CSS Document */

html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  letter-spacing: 0.05em;
  z-index: 0;
  background-color: black;
}
a {
  transition: all 200ms ease-in-out;
}
header {
  height: 100%;
  width: 100%;
  z-index: 0;
  /*position: relative;*/
   background-color: #000000;

}

#nav {
  position: absolute;
  width: 100%;
  background-color: black;
  border: none;
  padding: 7px 30px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  z-index: 1000;
  top:-2%;
}

#nav a {
  color: #fff;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 0.5em;
  color: rgba(255,255,255,0.6);
  transition: all 250ms linear;
}

#nav a:hover, #nav a.active {
  border-bottom: 5px solid;
  color: #FFF;
}
#headerbg {
  /*position: absolute;*/
  width: 100%;
  height: 100%;
  z-index: 10;
}

#logo {
  width: 60%;

}

@media screen and (max-width: 750px) {
  #team1515 {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 750px) {
  #logo {
    /*margin-top: 120px;*/
  }
}

.title {
color: #FFFFFF;
font-size: 2em;
font-weight: 700;
margin-top: 10%;
text-transform: uppercase;
text-align: center;
}

#headerContent {
  /*position: absolute;*/
  z-index: 100;
  padding-top: -10%;
  width: 100%;
}

#logoSubtext {
margin-top: -1%;
}

.subtitle {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
}


#signupButtons {
  margin-top: 0%;
  -webkit-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

#signupButtons .frontpagebuttons {
  display: block;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 2px;
  text-transform: uppercase;
  max-width: 400px;
  padding: 10px 30px;
}

section {
  padding: 50px 0px;
}

#about {
  background: darkgray;
  padding-top: 100px;
  padding-bottom: 100px;
}

#hsbackground {
  /*position: absolute;*/
  width: 100%;
  height: 100%;
  background-image: url(../img/Swim%20Gym.jpg);
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

#abouttext{
  color: #FFFFFF;
  padding-left: 20px;
  padding-right: 20px;
}

#abouttext h1 {
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  margin-bottom: 30px;
}
#abouttext p {
  font-size: 18px;
}

#faq {
  background-color: #ff8a18;
  padding-bottom: 100px;
  text-align: center;
}
#faq p {
  color: black;
}

#faq h2, #faq h3 {
  color: black;
}
#faq h2 {
  border-color: #FF9936;
  font-weight: bold;
}
#faq a {
  color: #FFF;
}
#faq a:hover {
  color: #FFE9D4;
  text-decoration: none;
}

#sponsors h2 {
  border-color: #E0E0E0;
  color: #FF9936;
  padding: 20px 0;
}

#organizers h2 {  
  color: red;
}

section {
  z-index: 20;
  background: #f0f0f0;
  position: relative;
}

section h2 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-family: 
  font-weight: bold;
  font-size: 40px;
  border-bottom: 9px solid;
  padding: 30px 0;
  margin-bottom: 30px;
  display: inline-block;
}

section h3 {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  margin: 20px 0;
}
section h4 {
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
}

.btn {
  border: none;
}
.btn:hover {
  border: none;
  box-shadow: 0 0 0 10px rgba(255,255,255,0.2);
  transition: all 200ms ease-in-out;
}
.btn-orange {
  background-color: #ff8a18;
  border-color: #ff8107;
}

.btn-orange:hover {
  background-color: #ff9f41;
}

.btn-blue {
  background-color: #175b82;
  border-color: #0a5682;
}

.btn-blue:hover {
  background-color: #1e6b98;
}

.greyed {
  opacity: 1 !important;
  color: #bbb;
  background: #ddd;
}
.greyed:hover {
  color: #bbb;
  background: #ddd;
  cursor: initial;
}

footer {
  padding: 20px 0px;
  background-color: #F0F0F0;
  text-align: center;
  color: #616161;
  font-size: 12pt;
  position: relative;
}

footer a {
  color: #ff9f41;
}

footer a:hover {
  text-decoration: none;
  color: #FFB66E;
}
footer p {
  display: inline-block;
}

#studentRND {
 }

#social {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#social li {
  display: inline;
  margin: 0px 8px;
}

#sponsors img {
  margin: 20px;
  max-height: 100px;
  max-width: 100%;
  filter: none;
  -webkit-filter: grayscale(100%);
  -moz-filter:    grayscale(100%);
  -ms-filter:     grayscale(100%);
  -o-filter:      grayscale(100%);
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
#sponsors .sponsors img {
 
}
#sponsors .gold img {
  max-height: 120px;
  filter: none;
  -webkit-filter: grayscale(100%);
  -moz-filter:    grayscale(100%);
  -ms-filter:     grayscale(100%);
  -o-filter:      grayscale(100%);
}
#sponsors .trench img {
  opacity: 0.5;
}
#sponsors h3 {
  color: #666;
  border-bottom: 4px solid;
  line-height: 60px;
  display: inline-block;
  text-align: center;
}
#sponsors .filler {
  margin: 120px 0;
  color: #ddd;
}
#sponsors img:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
  -moz-filter:    grayscale(0%);
  -ms-filter:     grayscale(0%);
  -o-filter:      grayscale(0%);
  opacity: 1;
}

#organizers {
  background-color: white;
  width: 100%;
}

#organizers img {
  max-width: 200px;
   display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.organizers {

}

#bhhacksbg {
  /*position: absolute;*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 5%;
  background-image: url(../img/Logo1.png);
  background-position: top;
  background-size: 15% auto;
  background-repeat: no-repeat;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

#makeschool {
	margin-top: 0px;
}


@media (max-width: 750px) {
  #logo {
    width: 100%;
  }
  #bhhacksbg {
	  margin-top: 20%;
  }
  .subtitle {
	color: #FFFFFF;
    font-size: 15px;
  }
  #hsbackground {
	  background: none;
  }
  #headerContent {
    padding-top: 10px;
  }
  .title {
	color: #FFFFFF;
	font-size: 4em;
	font-weight: 200;
	margin-top: 0%;
	margin-left: 0%;
	text-transform: uppercase;
  }
  #signupButtons {
    text-align: center;
  }
  #signupButtons .btn {
    margin: 10px 0 !important;
  }
  #about h1 {
    font-size: 30px;
  }
  #about p {
    font-size: 20px;
  }
  #faq p {
    margin-bottom: 30px;
  }
  #sponsors img {
	  margin: 0px;
	  -webkit-filter: grayscale(0%);
  	  -moz-filter: grayscale(0%);
  	  -ms-filter: grayscale(0%);
  	  -o-filter: grayscale(0%);
      max-width: 90%;
  }
  #makeschool {
	  margin-top: 25px;
  }
}
hr {
  border-bottom: 2px solid #ddd;
  width: 80%;
}

.navbar-center {
	float: left;
	margin-left: 32.5%;
}

#schedule {
  background-color: #FFFFFF;
  padding-bottom: 100px;
  text-align: center;
}
#schedule p {
  color: #757575;
}

#schedule h2, #schedule h3 {
  color: #FF9936;
}
#schedule h2 {
  border-color: #E0E0E0;
}
#schedule a {
  color: #FFF;
}
#schedule a:hover {
  color: #FFE9D4;
  text-decoration: none;
}

.schedulecontent {
display: inline;
max-width: 5px;
text-align: left;
font-family: 'Open Sans', sans-serif;
font-size: 25px;
}

.frontpagebuttons {
	background-color: #FFFFFF;
border: none;
display: inline-block;
text-align: center;
text-decoration: none;
cursor: pointer;
margin-bottom: 20px;
line-height: normal;
color: #000000;
padding: 10px 10px;
font-size: 12px;
cursor: pointer;
text-transform: uppercase;
letter-spacing: 2px;
text-align: center;
-webkit-transition: 0.2s background linear;
-moz-transition: 0.2s background linear;
transition: 0.2s background linear;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-background-clip: padding;
-moz-background-clip: padding;
background-clip: padding-box;
-webkit-appearance: none;
border: 1px solid #FFFFFF;
}

.contacting:hover{
     background: #000;
	 color: #FFF;
	 border-radius: 3px;
	 text-decoration: none;
}

.contacting {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	margin-left: 0px;
}

.maybesponsers {
color: #FFFFFF;
font-size: 18px;
letter-spacing: 1px;
margin-left: 1%;
margin-top: 12%;
text-transform: uppercase;
text-rendering: optimizelegibility;
font-weight: 400;
}


.registering {
margin-top: 10px;
margin-bottom: 10px;
padding: 10px 50px;
}


.registering:hover{
     background: #000;
	 color: #FFF;
	 border-radius: 3px;
	 text-decoration: none;
}

.mayberegister {
color: #FFFFFF;
font-size: 18px;
letter-spacing: 1px;
text-transform: uppercase;
text-rendering: optimizelegibility;
font-weight: 400;
padding-bottom: 5px;
}

#judges {
	background: #EF6C00;
	color: #FFF;
}

.judge {
  margin-bottom: 20px;
}

.judge h3 {
  margin-bottom: 5px;
}

.img-circle {
  max-width: 200px;
}

#organizers {
display: inline-block;
}